@tailwind base;
@tailwind components;
@tailwind utilities;

[data-bhuban="light"] {
  --primary: theme("colors.frost.300");
  --secondary: theme("colors.frost.100");
  --text: theme("colors.night.100");
  --background: theme("colors.snow.300");
}

[data-bhuban="dark"] {
  --primary: theme("colors.night.100");
  --secondary: theme("colors.night.300");
  --text: theme("colors.snow.300");
  --background: theme("colors.night.400");
}

[data-bhuban="nord"] {
  --primary: theme("colors.frost.400");
  --secondary: theme("colors.snow.300");
  --text: theme("colors.aurora.100");
  --background: theme("colors.frost.200");
}
